{% extends "base.html" %}
{% block body %}
    <div id="r1">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="card-deck" ng-controller="recommendationDictController">
                    <div ng-repeat="recommendation in recommendations">
                        <div class="card">
                            <div ng-bind="recommendation"></div>
                            <div class="card-body">
                                <nav aria-label="Page navigation example">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Because you use: <span ng-bind="userProjects[$index].languages.edges[0].node.name"></span></p>
                                    <p class="card-text">
                                        <small class="text-muted">Sup</small>
                                    </p>
                            </div>
                        </div>
                        <div ng-repeat="reporecommendation in recommendation">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" ></h5>
                                    <p class="card-text">We recommend </p>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title" ng-bind="reporecommendation.name"></h5>
                                            <p class="card-text" ng-bind-html="reporecommendation.shortDescriptionHTML"></p>
                                        </div>
                                        <div ng-controller="detailsDictController">
                                          <ul class="list-group list-group-flush">
                                            <li class="list-group-item" ng-bind="details"></li>
                                          </ul>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        <small class="text-muted" ng-bind="reporecommendation.reason"></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div id="r2">#}
    {#        <div class="jumbotron jumbotron-fluid">#}
    {#            <div class="container">#}
    {#                <div class="card-deck">#}
    {#                    <div class="card">#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="card-title">Card title</h5>#}
    {#                            <p class="card-text">Because you use <span ng-bind="userProjects[1]"></span></p>#}
    {#                            <p class="card-text">#}
    {#                                <small class="text-muted">Last updated 3 mins ago</small>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="card">#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="card-title">Card title</h5>#}
    {#                            <p class="card-text">We recommend </p>#}
    {#                            <div class="card">#}
    {#                                <div class="card-body">#}
    {#                                    <h5 class="card-title"><span ng-bind="recommendations[1]"></span></h5>#}
    {#                                    <p class="card-text">[Repo text]</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <p class="card-text">#}
    {#                                <small class="text-muted">Last updated 3 mins ago</small>#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <nav aria-label="Page navigation example">#}
    {#            <ul class="pagination">#}
    {#                <li class="page-item"><a class="page-link" href="/">Previous</a></li>#}
    {#                <li class="page-item"><a class="page-link" href="recommendations/1">1</a></li>#}
    {#                <li class="page-item"><a class="page-link" href="recommendations/2">2</a></li>#}
    {#                <li class="page-item"><a class="page-link" href="recommendations/3">3</a></li>#}
    {#                <li class="page-item"><a class="page-link" href="/">Next</a></li>#}
    {#            </ul>#}
    {#        </nav>#}
    {#    </div>#}
    {#    <script type="text/babel">#}
    {##}
    {#        let style = {#}
    {#            color: "#fff"#}
    {#        };#}
    {#        ReactDOM.render(#}
    {#            <div className="jumbotron jumbotron-fluid">#}
    {#                <div className="container">#}
    {#                    <div className="card-deck">#}
    {#                        <div className="card">#}
    {#                            <div className="card-body">#}
    {#                                <h5 className="card-title">Card title</h5>#}
    {#                                <p className="card-text">Because you use [Something]</p>#}
    {#                                <p className="card-text">#}
    {#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
    {#                                </p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div className="card">#}
    {#                            <div className="card-body">#}
    {#                                <h5 className="card-title">Card title</h5>#}
    {#                                <p className="card-text">We recommend [something else]</p>#}
    {#                                <div className="card">#}
    {#                                    <div className="card-body">#}
    {#                                        <h5 className="card-title">[Repo name]</h5>#}
    {#                                        <p className="card-text">[Repo text]</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <p className="card-text">#}
    {#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
    {#                                </p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>,#}
    {#            document.getElementById('r1')#}
    {#        );#}
    {##}
    {#        ReactDOM.render(#}
    {#            <div className="jumbotron jumbotron-fluid">#}
    {#                <div className="container">#}
    {#                    <div className="card-deck">#}
    {#                        <div className="card">#}
    {#                            <div className="card-body">#}
    {#                                <h5 className="card-title">Card title</h5>#}
    {#                                <p className="card-text">Because you use [Something]</p>#}
    {#                                <p className="card-text">#}
    {#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
    {#                                </p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div className="card">#}
    {#                            <div className="card-body">#}
    {#                                <h5 className="card-title">Card title</h5>#}
    {#                                <p className="card-text">We recommend [something else]</p>#}
    {#                                <div className="card">#}
    {#                                    <div className="card-body">#}
    {#                                        <h5 className="card-title">[Repo name]</h5>#}
    {#                                        <p className="card-text">[Repo text]</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <p className="card-text">#}
    {#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
    {#                                </p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>,#}
    {#            document.getElementById('r2')#}
    {#        );#}
    {##}
    {#    </script>#}
{% endblock %}