{#{% with messages = get_flashed_messages() %}#}
{#  {% if messages %}#}
{#    <ul class=flashes>#}
{#    {% for message in messages %}#}
{#      <li>{{ message }}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#  {% endif %}#}
{#{% endwith %}#}
{% extends "base.html" %}
{% block body %}
    <div ng-controller="MeController">
        <div ng-bind="data"></div>
    </div>
    <div id="r1">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Because you use [Something]</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">We recommend [something else]</p>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">[Repo name]</h5>
                                    <p class="card-text">[Repo text]</p>
                                </div>
                            </div>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="r2">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Because you use [Something]</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">We recommend [something else]</p>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">[Repo name]</h5>
                                    <p class="card-text">[Repo text]</p>
                                </div>
                            </div>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <script type="text/babel">#}
{##}
{#        let style = {#}
{#            color: "#fff"#}
{#        };#}
{#        ReactDOM.render(#}
{#            <div className="jumbotron jumbotron-fluid">#}
{#                <div className="container">#}
{#                    <div className="card-deck">#}
{#                        <div className="card">#}
{#                            <div className="card-body">#}
{#                                <h5 className="card-title">Card title</h5>#}
{#                                <p className="card-text">Because you use [Something]</p>#}
{#                                <p className="card-text">#}
{#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div className="card">#}
{#                            <div className="card-body">#}
{#                                <h5 className="card-title">Card title</h5>#}
{#                                <p className="card-text">We recommend [something else]</p>#}
{#                                <div className="card">#}
{#                                    <div className="card-body">#}
{#                                        <h5 className="card-title">[Repo name]</h5>#}
{#                                        <p className="card-text">[Repo text]</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <p className="card-text">#}
{#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>,#}
{#            document.getElementById('r1')#}
{#        );#}
{##}
{#        ReactDOM.render(#}
{#            <div className="jumbotron jumbotron-fluid">#}
{#                <div className="container">#}
{#                    <div className="card-deck">#}
{#                        <div className="card">#}
{#                            <div className="card-body">#}
{#                                <h5 className="card-title">Card title</h5>#}
{#                                <p className="card-text">Because you use [Something]</p>#}
{#                                <p className="card-text">#}
{#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div className="card">#}
{#                            <div className="card-body">#}
{#                                <h5 className="card-title">Card title</h5>#}
{#                                <p className="card-text">We recommend [something else]</p>#}
{#                                <div className="card">#}
{#                                    <div className="card-body">#}
{#                                        <h5 className="card-title">[Repo name]</h5>#}
{#                                        <p className="card-text">[Repo text]</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <p className="card-text">#}
{#                                    <small className="text-muted">Last updated 3 mins ago</small>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>,#}
{#            document.getElementById('r2')#}
{#        );#}
{##}
{#    </script>#}
{% endblock %}